body {
    font-size:1.5em;
}

form {
    display: flex;
}

#save {
    background-color: black;
    color: whitesmoke;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 0.5em;
}

ul li {
    list-style: none;
    margin: 0.5em;
    border: solid;
}

.low {
    border-color: green;
}

.high {
    border-color: red;
}
